header{
    height: 70px;
    width: 100%;
    background-color: skyblue;
    padding: 20px;
    
   
    
}

header h1{
    display: inline;
    font-family: "Helvetica Neue";
    font-size: 25px;
    font-weight: 600;
    
    cursor: pointer;
}
